<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd   
       http://www.springframework.org/schema/aop   
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd   
       http://www.springframework.org/schema/tx   
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- mina server -->
	

	<!-- executorFilter多线程处理 -->
	<bean id="executorFilter"
		class="org.apache.mina.filter.executor.ExecutorFilter" >
		<constructor-arg value="30"/>
		<constructor-arg value="100"/>
	</bean>

	<bean id="mdcInjectionFilter"
		class="org.apache.mina.filter.logging.MdcInjectionFilter">
		<constructor-arg value="remoteAddress" />
	</bean>
	
	

	<bean id="codecFilter"
		class="org.apache.mina.filter.codec.ProtocolCodecFilter">
		<constructor-arg>
			<bean class="com.naqi.conn.ClientCodecFactory" />
		</constructor-arg>
	</bean>

	<bean id="loggingFilter"
		class="org.apache.mina.filter.logging.LoggingFilter" />

	<bean id="filterChainBuilder"
		class="org.apache.mina.core.filterchain.DefaultIoFilterChainBuilder">
		<property name="filters">
			<map>
			
				<entry key="executor" value-ref="executorFilter" />
				<entry key="loggingFilter" value-ref="loggingFilter" />
				<entry key="codecFilter" value-ref="codecFilter" />
			</map>
		</property>
	</bean>


    <bean
        class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="java.net.SocketAddress" value="org.apache.mina.integration.beans.InetSocketAddressEditor" >
                </entry>
            </map>
        </property>
    </bean>

 	<bean id="ioAcceptor" 
 		class="org.apache.mina.transport.socket.nio.NioSocketAcceptor" 
 		init-method="bind" destroy-method="unbind"> 
 		<constructor-arg value="50"/> 
 		<property name="defaultLocalAddress" value=":8200"/> 
 		<property name="handler" ref="handler" /> 
 		<property name="filterChainBuilder" ref="filterChainBuilder" /> 
 		<property name="reuseAddress" value="true" /> 
 	</bean> 
	<bean id="handler" class="com.naqi.conn.Application"/>
</beans>